{% load static %}

<style>
    .profile-body {
        border-bottom: 0.2px solid #00000080;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 18px;
        padding: 17px 14px;
    }

    .profile-nav-item {
        /* font-size: 20px; */
        padding: 0;
    }

    .profile-footer {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 36px;
        padding: 14px;
    }
</style>

<header class="admin-header">
    <div class="container">
        <div class="header-two">
            <div class="vsl-logo text-center">
                <a href="/">
                    <img src="{% static 'lead-maker/images/logo.svg' %}" class="img-fluid" alt="LeadMaker Logo" />
                </a>
            </div>
            <div class="header-profile">
            {% if user.user.subscription.plan.name|lower != 'free' %}
                <div class="credit-score">
                    <span>Credits Remaining: </span> <span>{{ user.subscription.credits }}</span>
                </div>
            {% else %}
            <div class="credit-score">
                    <span>Free Trial</span>
                </div>
            {% endif %}
                <div class="dropdown">
                    <button class="profile-icn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'lead-maker/images/admin-user-icn.svg' %}" alt="User Profile Icon" />
                    </button>
                    <div class="profile-dropdown dropdown-menu dropdown-menu-end" style="border: 1px solid #00000080;">
                        <div class="profile-head" style="padding: 12px 14px; border-bottom: 0.2px solid #00000080; display: flex; flex-direction: column; gap: 10px;">
                            <h4 style=" margin: 0px;">{{user.first_name}}</h4>
                            <span class="email" style="color: #191919B2; font-weight: 400; letter-spacing: -0.02em; font-size: 1.2rem;">{{ user.email }}</span>
                        </div>
                        <div class="profile-body" >
                            <div class="profile-nav-item">
                                <a href="{% url 'accounts:manage_subscription'%}" style="color:#000;font-weight: 400; font-size: 1.4rem;">Manage Subscription</a>
                            </div>
                            <div class="profile-nav-item" style="display: flex; justify-content: space-between;">
                                <div class="profile-nav-left">
                                    <a href="#" style="color:#000;font-weight: 400; font-size: 1.4rem;">Credit Left</a>
                                </div>
                                <div class="profile-nav-right">
                                    <span class="count" style="color: #191919B2;font-weight: 400; font-size: 1.4rem;">{{ user.subscription.credits }} </span>
                                </div>
                                  {% if request.user.subscription.plan.name|lower == 'free' %}

                                  <div class="profile-nav-left">
                                    <a href="#" style="color:#000; font-weight: 400;">&nbsp Free Trial</a>
                                </div>
                                {% endif %}
                            </div>
                            <div class="profile-nav-item">
                                <a href="#" style="color:#000; font-weight: 400; font-size: 1.4rem;">Affiliate</a>
                            </div>
                        </div>
                        <div class="profile-footer">
                            <a href="/accounts/logout" style="color:#000; font-weight: 400; font-size: 1.4rem;">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>