<p><span style="font-size:11pt;font-family:Arial,sans-serif;">Welcome to LeadEditor.io &ndash; Take Control of Your VSLs!</span></p>



<p><strong><span style="font-size:11pt;font-family:Arial,sans-serif;">Hi {{User_First_Name}},</span></strong></p>
<p><span style="font-size:11pt;font-family:Arial,sans-serif;">Your&nbsp;</span><strong><span style="font-size:11pt;font-family:Arial,sans-serif;">LeadEditor.io</span></strong><span style="font-size:11pt;font-family:Arial,sans-serif;">&nbsp;account is live! You&rsquo;re now ready to test, edit, and optimize your leads with ease.</span></p>
<p><strong><span style="font-size:11pt;font-family:Arial,sans-serif;">Next Steps:</span></strong></p>
<ol>
    <li style="list-style-type:decimal;font-size:11pt;font-family:Arial,sans-serif;">
        <p><strong><span style="font-size:11pt;font-family:Arial,sans-serif;">Log in:</span></strong><span style="font-size:11pt;font-family:Arial,sans-serif;">&nbsp;Login to LeadEditor.io</span></p>
    </li>
    <li style="list-style-type:decimal;font-size:11pt;font-family:Arial,sans-serif;">
        <p><strong><span style="font-size:11pt;font-family:Arial,sans-serif;">Start Testing:</span></strong><span style="font-size:11pt;font-family:Arial,sans-serif;">&nbsp;Upload your creatives and try new lead variations.</span></p>
    </li>
    <li style="list-style-type:decimal;font-size:11pt;font-family:Arial,sans-serif;">
        <p><strong><span style="font-size:11pt;font-family:Arial,sans-serif;">Need Assistance?</span></strong><span style="font-size:11pt;font-family:Arial,sans-serif;">&nbsp;Contact us at support@LeadEditor.io.</span></p>
    </li>
</ol>
<p><span style="font-size:11pt;font-family:Arial,sans-serif;">Let&rsquo;s boost your video performance!</span></p>
<a href="/ttt" style="font-size:11pt; font-family:Arial, sans-serif; color:black; text-decoration:none;">
    <strong><span style="font-size:11pt; font-family:Arial, sans-serif;">Login Now</span></strong>
</a>

<p><span style="font-size:11pt;font-family:Arial,sans-serif;">Best,</span><span style="font-size:11pt;font-family:Arial,sans-serif;"><br></span><span style="font-size:11pt;font-family:Arial,sans-serif;">The LeadEditor.io Team</span></p>